.map-container {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 5%;
  right: 10px;
  height: 50%;
  width: 45%;
}

.sidebarStyle {
  font-family: "Plus Jakarta Sans";
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 73px;
  margin: 12px;
  background-color: #4040404d;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.hero {
  position: absolute;
  top: 740px;
  left: 30px;
  width: 18%;
  max-width: 200px;
  z-index: 0;
}
