.introtext {
  width: 722px;
  height: 128px;
  margin-top: 30px;
  padding: 60px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.map-container {
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 5%;
  right: 10px;
  height: 20%;
  width: 45%;
}

.sidebarStyle {
  font-family: "Plus Jakarta Sans";
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 73px;
  margin: 12px;
  background-color: #4040404d;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.hero2 {
  position: absolute;
  top: 500px;
  left: 30px;
  width: 18%;
  max-width: 200px;
  z-index: 0;
}
